.productsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 20px;
  background-color: lightgray;
  padding-bottom: 100px;
}
.productsWrapper h1 {
  font-size: 16px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.singleProduct {
  display: flex;
  flex-direction: column;
}
.productImgs {
  max-width: 450px;
  max-height: 450px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
