.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 20px;
  background-color: lightgray;
  padding-bottom: 100px;
}
.products-container h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.single-product-container {
  display: flex;
  flex-direction: column;
}
.single-product-container h2 {
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
}
.product-imgs {
  max-width: 450px;
  max-height: 450px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.view-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}

.view-btn:hover {
  background-color: #555;
}

.cart-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}
.cart-btn:hover {
  background-color: #555;
}
