
.navbar {
  background-color: whitesmoke;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nav-icon {
  margin-bottom: 5px;
}

.link-text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

