:root {
  height: 100%;
  background-color: lightgray;
}

.navbar {
  background-color: whitesmoke;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icon {
  margin-bottom: 5px;
}

.link-text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 20px;
  background-color: lightgray;
  padding-bottom: 100px;
}

.products-container h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.single-product-container {
  display: flex;
  flex-direction: column;
}

.single-product-container h2 {
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
}

.product-imgs {
  max-width: 450px;
  max-height: 450px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.view-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}

.view-btn:hover {
  background-color: #555;
}

.add-cart-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}

.add-cart-btn:hover {
  background-color: #555;
}

.cart-no-items {
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 20px;
  background-color: lightgray;
  padding-bottom: 100px;
}

.cart-container h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.shopping-cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 20px;
  background-color: lightgray;
  padding-bottom: 100px;
}

.shopping-cart-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  margin: 15px;
  border-radius: 5px;
  padding: 30px;
}

.shopping-cart-container h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.cart-img {
  max-width: 200px;
  max-height: 200px;
}

.cart-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  margin: 15px;
  border-radius: 5px;
  padding: 30px;
}

.cart-btn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  font-size: 20px;
}

.cart-btn:hover {
  background-color: #45a049;
}

.checkout-btn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

.checkout-btn:hover {
  background-color: #45a049;
}

.register-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}

.login-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}

.logout-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logout-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}

.footer {
  background-color: whitesmoke;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.8);
}

.footer a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.footer a:hover {
  color: #ccc;
}

.footer .git {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
